@import url('https://fonts.googleapis.com/css2?family=Lora:ital,opsz,wght@0,7..72,200..900;1,7..72,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:ital,wght@0,300..700;1,300..700&display=swap');


.navbar {
    padding: 0 !important
}

/* hide nav button */
.navbar-expand-lg .navbar-toggler {
    display: none !important;
}

/* always show breadcrumb */ 
.navbar-expand-lg .collapse:not(.show) {
    display: block !important;
}

/* dont change margin-top on 768px width */
.navbar-expand-lg .mt-3 {
    margin-top: 0 !important;
}

/* change margin-left on 576px width */
.breadcrumb .ms-3 {
    margin-left: 0 !important;
}

/* dont change margins on 768px width */
.breadcrumb .my-1 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #111A19 !important;
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg-color) !important;
}

body,
main {
    height: 100%;
    font-family: 'Roboto Serif', serif !important;
    font-weight: 300;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: .95em;
    color: var(--font-color) !important;
}

.display-3 {
    font-family: 'Lora', serif !important;
}

figcaption {
    text-align: center;
    font-size: .8em;
}

.post header h1 {
    font-family: 'Lora', serif !important;
}

.post header.mb-4 {
    margin-bottom: 3rem !important;
}

::selection {
    background: var(--secondary);
    color: var(--selection-color);
}

.splash-screen {
    height: 100%;
}

nav a,
a {
    text-decoration: none !important;
}

nav a:hover,
a:hover,
.list-post-title a:hover {
    text-decoration: underline !important;
}

h2.h5.list-post-title {
    margin-top: .25em;
    margin-bottom: .15em;
}

.list-post-title a {
    text-decoration: none !important;
}

a {
    color: var(--primary-variant) !important;
    text-decoration: underline !important;
    text-underline-offset: 0.375em !important;
}

a:hover {
    color: var(--primary) !important;
}

table:not(.gist-data *) {
    border-collapse: collapse;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

th:not(.gist-data *),
td:not(.gist-data *) {
    padding: .5rem;
    text-align: left;
}

th:not(.gist-data *) {
    font-weight: bold;
    background-color: var(--bg-variant);
}

td:not(.gist-data *) {
    border-bottom: 2px solid var(--bg-variant) !important;
}

ul>li:has(input[type=checkbox]) {
    list-style-type: none;
}

code {
    font-family: 'Red Hat Mono', serif !important;
}

code:not(.highlight *) {
    color: var(--secondary);
    font-weight: 600;
    user-select: all;
    padding-left: .3em;
    padding-right: .3em;
}

.highlight>div {
    padding: 0 1em;
}

.highlight>pre {
    padding: 1em;
}

mark {
    background-color: var(--primary-variant) !important;
}

kbd {
    background-color: var(--bg-variant) !important;
    font-family: 'Red Hat Mono', monospace !important;
    font-weight: bold;
}

figure h4 {
    margin-bottom: 1em;
    font-size: .8em !important;
    font-weight: lighter !important;
    position: relative;
    overflow: hidden;
    opacity: 0.9;
}

.post article h1,
.post article h2,
.post article h3,
.post article h4,
.post article h5,
.post article h6 {
    font-size: 1.4rem;
    font-family: 'Lora', serif !important;
    margin: 2.8rem 0 .7rem 0;
    font-weight: normal;
}

.post article p {
    text-align: justify;
}

.post article a:not(.footnote-backref)::after,
footer a::after {
    content: " ↗"
}

.post article a:has(img)::after {
    content: none !important;
}

.post .draft-label {
    font-weight: bold;
    color: var(--primary);
}

.post header .breadcrumb,
.post header .breadcrumb-item,
.post header .small {
    font-family: 'Roboto Serif', serif !important;
    font-size: .9em
}

.tags a {
    text-decoration: none !important;
}

.tags a:hover {
    background-color: var(--primary) !important;
    color: var(--selection-color) !important;
    text-decoration: none !important;
}

.underline {
    background-image: linear-gradient(to right, var(--secondary), var(--secondary));
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 2px;
    text-decoration: none !important;
}

img {
    max-width: 100%;
}

figure {
    box-sizing: border-box;
    display: inline-block;
    max-width: 100%;
    width: 100%;
    text-align: center;
}

figure img {
    max-height: 500px;
    max-width: 100%;
    margin: 0 auto 8px auto;
}

figure h4::before {
    content: '' !important;
}

.twitter-tweet,
.instagram-media {
    margin-right: auto !important;
    margin-left: auto !important;
}

.post-summary {
    margin: 0;
}

ul:has(input[type=checkbox]) {
    margin-left: 0 !important;
    padding-left: 0.5rem !important;
}

li>input[type=checkbox] {
    margin-right: 0.2rem;
}

.toc-title {
    font-size: smaller;
}

.toc {
    font-family: 'Red Hat Mono', serif !important;
}

@media (max-width: 575px) {
    /* other pages */
    .mt-5 .navbar-expand-lg {
        padding-left: calc(var(--bs-gutter-x) * .5) !important;
    }

    /* home page */
    .mt-5 .col-md-12 .navbar-expand-lg {
        padding-left: 0 !important;
    }
}

/* Viewport ≥ 768px: container = 720px */
@media (min-width: 768px) {
    .toc {
        display: block !important;
        position: fixed !important;
        right: calc(50% - 360px - 20px);
        /* 720px / 2 */
        margin-right: 1.5rem;
        opacity: 0.2;
        /* Opacity Transition */
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -ms-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        /* Margin Transition */
        -webkit-transition: margin 1s ease-in-out;
        -moz-transition: margin 1s ease-in-out;
        -ms-transition: margin 1s ease-in-out;
        -o-transition: margin 1s ease-in-out;
        transition: margin 1s ease-in-out;

        &:hover {
            margin-right: 2.3rem;
            opacity: 1;
        }
    }
}

@media (min-width: 992px) {
    .toc {
        right: calc(50% - 480px - 20px);
        /* 960px / 2 */
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 720px !important;
    }

    table:not(.gist-data *) {
        width: 100%;
    }

    .toc {
        right: calc(50% - 570px - 20px);
        /* 1140px / 2 */
    }
}

@media (min-width: 1400px) {
    .toc {
        right: calc(50% - 660px - 20px);
        /* 1320px / 2 */
    }
}

#TableOfContents>ul {
    list-style-type: '//  ';
}

.badge {
    font-family: 'Red Hat Mono', serif !important;
    font-weight: 600 !important;
}

hr {
    border: 0 !important;
    height: 10px;
    color: var(--secondary) !important;
    background-image: linear-gradient(-45deg,
            transparent,
            transparent 25%,
            currentColor 25%,
            currentColor 50%,
            transparent 50%,
            transparent 75%,
            currentColor 75%);
    background-size: 4px 4px;
}

.terms-char {
    &::before {
        content: '― ';
    }
}

.giscus {
    padding-top: 1.5rem;
}
