:root {
    --bs-navbar-color: #111A19;
    --bg-color: #FFFFFF;
    --bg-variant: #FFFFFF;
    --primary: #111A19;
    --primary-variant: #111A19;
    --secondary: #111A19;
    --selection-color: #FFFFFF;
    --font-color: #111A19;
}

.dark {
    --bs-navbar-color: #FFFFFF;
    --bg-color: #111A19;
    --bg-variant: #111A19;
    --primary: #FFFFFF;
    --primary-variant: #dbdcdf;
    --secondary: #FFFFFF;
    --font-color: #FFFFFF;
    --selection-color: #111A19;
}
